/vendor/
/node_modules/
/public/storage/
/public/hot/
/storage/*.key
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/build
/public/css
/public/js

.env
.env.*
.env.backup
.phpunit.result.cache

.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.DS_Store

composer.lock
package-lock.json
yarn.lock